.App {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}


.is-done {
  opacity: 0.5;
}




.active-filter {
  background-color: aquamarine;
}

